/vendor/
/node_modules/
/.env
/.env.backup
/.env.testing
/database/database.sqlite
/storage/*.key
/storage/app/data/
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/public/hot
/public/storage
/public/js/filament/
/public/css/filament/
/public/fonts/filament/
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.vscode/
*.swp
*.swo
/_data/
